INTERNAL_SECRET=

FIREBASE_PROJECT_ID=demo-fabric-local
FIREBASE_DATABASE_URL=http://127.0.0.1:9000?ns=demo-fabric-local
FIREBASE_STORAGE_BUCKET=demo-fabric-local.appspot.com

FIREBASE_DATABASE_EMULATOR_HOST=127.0.0.1:9000
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199

PAYMENT_GATEWAY=mock

OMISE_SECRET_KEY=

OMISE_WEBHOOK_SECRET=

API_SERVICE_URL=http://localhost:3010

CORS_ORIGIN=
